body{
    background-color: #4286F4;
    font-family: "McLaren", sans-serif;
    background-image: url(../tj-dragotta-Gl0jBJJTDWs-unsplash.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
}